<mat-sidenav-container class="main-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
    (closed)="events.push('close!')">
    <app-profile *ngIf="auth.loggedIn"></app-profile>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button *ngIf="auth.loggedIn" mat-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>{{ title }}</span>

        <span class="spacer"></span>

        <button *ngIf="!auth.loggedIn" (click)="auth.login()" mat-button>Log In</button>
        <button (click)="auth.logout()" *ngIf="auth.loggedIn" mat-button>Log Out</button>

      </mat-toolbar-row>
    </mat-toolbar>
    <app-home></app-home>
  </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet></router-outlet>