.main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

p {
  padding: 1em;
  background-color: #fff;
}

blockquote {
  font-style: italic;
}
.spacer {
  flex: 1 1 auto;
}