<ng-container *ngIf="journeys">
    <div class="list" *ngFor="let journey of journeys">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar class="avatar default" [style.background]="journey.person.background">
                    {{journey.person.name.charAt(0)}}</div>
                <mat-card-title>{{journey.person.name}}</mat-card-title>
                <mat-card-subtitle>{{journey.description}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <travel-list [travels]="journey.travels"></travel-list>
            </mat-card-content>
        </mat-card>
    </div>
</ng-container>